button {
    font-size: 3rem;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: hsl(0, 0%, 40%);
}

button:active {
    background-color: hsl(0, 0%, 70%);
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

.calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}

.display {
    width: 100%;
    padding: 20px;
    background-color: hsl(0, 0%, 20%);
    color: white;
    font-size: 5rem;
    text-align: left;
    border: none;
}

.operators {
    background-color: #ad5509;
}

.operators:hover {
    background-color: #f4961c;
}

.operators:active {
    background-color: #eeb366;
}
